[submodule "love2d"]
	path = love2d
	url = https://pro-mole@github.com/brazmogu/brazmogu-love.git
[submodule "make-release"]
	path = make-release
	url = https://pro-mole@github.com/brazmogu/brazmogu-release.git
[submodule "template"]
	path = template
	url = https://pro-mole@github.com/brazmogu/brazmogu-template.git
